body {
    background-color: black;
    font-family: "montserrat", "arial";
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.box {
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.box .left_box {
    position: relative;
    background: gray;
    padding: 20px;
    clear: both;
}

.info {
    float: right;
    text-align: right;
    margin-left: 200px;
}

.box .right_box {
    position: relative;
    background: whitesmoke;
    padding: 20px;
}

img {
    border-radius: 50%;
  }