body {
    background-color: #2F5597;
    font-family: "montserrat", "arial";
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.box {
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.box .left_box {
    position: relative;
    background: #8FAADC;
    padding: 20px;
}

.box .right_box {
    position: relative;
    background: whitesmoke;
    padding: 20px;
}